a {
    opacity: .75;
}

.navbar-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about-section {
    display: flex;
    justify-content: flex-start;
    padding-top: 10px;
}

.left-section-text {
    font-size: 13px;
    font-family: Arial, sans-serif;
    padding-left: 15px;
}

.signin-section {
    display: flex;
    justify-content: flex-end;
}

.right-section-text {
    font-size: 13px;
    font-family: Arial, sans-serif;
    padding-right: 15px;
    padding-top: 10px;
}

.google-main {
    margin-top: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
}

.search-section {
    display: block;
}

.search-form {
    padding-top: 15px;
}
.search-form-input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 428px;
    height: 40px;
}

.submit-section {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.submit-section-button {
    margin-left: 5px;
    margin-right: 5px;
    opacity: .75;
}

.footer-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.footer-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer-text {
    padding-top: 0;
    margin-bottom: 10px;
    font-size: 17px;
}

.advert-section {
    display: flex;
    justify-content: flex-start;
}

.privacy-section {
    display: flex;
    justify-content: flex-end;
}

#appTag {
    padding-top: 3px;
}

#appsIcon {
    width: 30px;
    height: 30px;
    opacity: .75;
}

#googleIcon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
}